/**CSS**/				
body{
		background: white;
		color: white;
		font-family: Arial;
		font-variant: small-caps;
		
}


#menu ul li {
	display: inline; 
	color:white;
	font-family: Arial;
	font-variant: small-caps;
	font-size: 15px;
}


#menu ul li a:hover{ 
	color: white;
	text-decoration: overline; 
	font-family: Arial;
	font-variant: small-caps;
	font-size: 15px;
	
}
#menu{
	font-family:Arial;
	font-size: 15px;
	font-variant: small-caps;
}


#rodape_esquerdo{
	padding: 10px;
	float:left;
}

#lateral{
     float:right; /*define que o elemento deve flutuar à direita*/
     padding: 20px; /*espaço entre a borda e o conteúdo do elemento*/
	 background-color: #f9f8f4;
	 
}
#paside{
	float:right;
	text-align: justify;
	margin-left: 2px;
	margin-hight:2px;
}

#imagaside{
	float:right;
}

#fonte_mais_branca{
	font-weight: bolder;
	text-decoration: none;
	text-shadow: 0 0 4px #fff;
}


#sobrenos {
	font-size: 23;
	text-align: justify;
	margin-left: 235px;
	margin-right: 550px;
	font-family: Arial;
	font-variant: small-caps;
	border: white;
}
.main-wrapper{
	width: 100%; 
	height: 85vh;
}
.slider-holder {
	width: 100%; 
	height: 85vh;
}

