{% extends 'paginas/base.html' %}
{% block content %}</br>
    <form method="POST" style="margin-left: 0.66%">
        {{form.hidden_tag()}}
        {{form.texto.label}}
        {{form.texto}}
        <a class="waves-effect waves-light btn">
        {{form.botao}}
          </a>
    </form>

    <h3 style="margin-left: 0.66%; color:gray">Publicações:</h3>
    <div class="row">
        {% for mensagem in mensagens[::-1] %}
        <div class="col l6 s12 m5">
          <div class="card-panel teal">
            <span class="white-text">
               
                    {{ mensagem.texto  }}
                   <br>
                   {{ mensagem.usuario_id }}
               
            </span>
          </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}		