<html>

	<head>
		<meta charset="UTF_8"/>
		<link rel="stylesheet" type="text/css" href="../css/_css.css">
		<title> Ichat </title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
		<link rel="shortcut icon" type="image/x-icon" href="../imagens/logo.png">
		
		</script>
		<script type="text/javascript" src="javascript/javascript.js"></script>
	</head>

	<body>
		<div id="menu">
				<nav  style="background-color:#71a5a8;">
						<div class="nav-wrapper">
						  <a href="#" class="brand-logo right">
							
						  <ul id="nav-mobile" class="left hide-on-med-and-down">
						<li><a href="../index.html" class="text-white">INÍCIO</a></li>&nbsp;&nbsp;&nbsp;
						<li><a href="bate_papo.html" class="text-white" id="fonte_mais_branca">BATE PAPO</a> </li>&nbsp;&nbsp;&nbsp;
						<li><a href="cadastro.html"  class="text-white">CADASTRO</a> </li>&nbsp;&nbsp;&nbsp;
						<li><a href="login.html" class="text-white">LOGIN</a></li>						
					</ul>
					
				</nav>
			<br><br>
			<h1 style align="center">BATE PAPO</h1>
		</div>
		<div style="margin-top:30%">
	<footer class="footer mt-auto py-3"style="background-color:#7ebbbf; opacity:0.7">
			<div class="container">
			<div style="margin-left:20%;" id="rodape_esquerdo">
				© 2019 - <script>
				var mydate=new Date()
				var year=mydate.getYear()
				if (year < 1000)
					year+=1900
				document.write(""+year+"")
				</script></br>
				Ichat: você falando com o mundo!</br>
			</div>
			<div style="margin-left:60%;">
				Contate-nos:</br>
				(77)3452-1924</br>
				ichat.nao@gmail.com
			</div>
			</div>
		</footer>
		</div>
	</body>
		
</html>