{% extends 'paginas/base.html' %}
{% block content %}


<body>
	<div id="menu">
			
			<br><br>
		</div>
	<div class="row">
		<div class="col s12 m4 offset-m4">
			<div class="card">
				<div class= "card-action cyan darken-1 white-text">
					<h3>Cadastro <h3>
				</div>
			
			<div class="card-content">

			<form name="formuser" action="#" method="POST">
				</form>
				<!--
				<div class="form-field">
					<label for="password">Nome:</label>
					<input type="text" id="nome" placeholder=" nome" name="nome"/>
				</div><br>
				
				<div class="form-field">
					<label for="password">País:</label>
					<input type="text" id="pais" placeholder=" país" name="pais"/>
				</div><br>
				
				<div class="form-field">
					<label for="password">Idioma:</label>
					<input type="text" id="idioma" placeholder=" idioma" name="idioma"/>
				</div><br>
				
				<div class="form-field">
					<label for="email">E-mail:</label>
					<input type="email" id="email" placeholder=" nome@email.com" name="email"/>
				</div><br>
				
				<div class="form-field">
					<label for="password">Senha:</label>
					<input type="password" id="password" placeholder=" senha" name="senha"/>
				</div><br>
				
				<div class="form-field">
					<label for="password"> Confirme Senha:</label>
					<input type="password" id="password" placeholder=" senha" name="rep_senha"/>
				</div><br>
				<div class="form-field">
					<button class="btn-large waves-effect waves-dark" style="wighth:100%" type="submit" onclick="return validar()">Cadastrar</button>
				</div><br>
			</form>
			</div>
		</div>
		<div style align="center"><a href="/index">Voltar para a página principal</a></div>
	</div>
	</div>
	
		
		</div>
		<script type="text/javascript">
			function validar(){
				var senha = formuser.senha.value;
				var email= formuser.email.value;
				var rep_senha = formuser.rep_senha.value;
				var nome = formuser.nome.value;
				var pais = formuser.pais.value;
				var idioma = formuser.idioma.value;
				if(nome == "" || nome.lenght < 3) {
					alert("Por favor, indique o seu nome.");
					formuser.nome.focus();
					return false;
				}
				if(pais == "") {
					alert("Por favor, indique o seu país.");
					formuser.pais.focus();
					return false;
				}
				if(idioma == "" || idioma.lenght < 3) {
					alert("Por favor, indique o seu idioma.");
					formuser.idioma.focus();
					return false;
				}
				if(senha == "" || senha.length <= 5){
					alert('Preencha o campo senha com minimo 6 caracteres');
					formuser.senha.focus();
					return false;
				}
				
				if(rep_senha == "" || rep_senha.length <= 5){
					alert('Preencha o campo confirme senha com minimo 6 caracteres');
					formuser.rep_senha.focus();
					return false;
				}
				
				if (senha != rep_senha) {
					alert('Senhas diferentes');
					formuser.senha.focus();
					return false;
				}
				if( (e-mail.indexOf("@")==-1)||(e-mail=="")(e-mail.indexOf(".")==-1)){
					alert("Preecha o campo Email, por favor.");
					return false;
				}
				
				
			}
		</script>
	</body>	
	
</html>
-->
{% endblock %}